page-broad {

}

#track{
    height: 80%;
}

page-about {

}

.butt{
    color: #009688; 
    background-color: transparent;
    font-size: large;
}

.label1{
    color:grey;
    text-align: left;

}

.value{
    text-align: left;
    padding: 16px 0;
    font-size: large;
}

.butt-container{
    text-align: right;
}